<footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>Sobre nosotros</h6>
          <p class="text-justify">Punto juegos fué creado con el único objetivode entretener a todos nuestros usuarios gracias a nuestra variedad de videojuegos creados en canvas y CSS</p>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Sitemap</h6>
          <ul class="footer-links">
            <li><a href="http://RVegaAlonso.github.io/webDIW/Canvas/cuadrados/main.html">Cuadrados</a></li>
            <li><a href="http://RVegaAlonso.github.io/webDIW/Canvas/semaforo/main.html">Semaforo</a></li>
            <li><a href="http://RVegaAlonso.github.io/webDIW/Canvas/Moliniño/main.html">Molino</a></li>
            <li><a href="http://RVegaAlonso.github.io/webDIW/CSS/ej2/ej2.html">Ejercicio 2</a></li>  
            <li><a href="http://RVegaAlonso.github.io/webDIW/CSS/ej8/fondos.html">Ejercicio 8</a></li>
          </ul>
        </div>
        <div class="col-xs-6 col-md-3">
          <h6>Links rápidos</h6>
          <ul class="footer-links">
            <li><a href="http://RVegaAlonso.github.io/webDIW/Canvas/pong/index.html">Pong</a></li>
            <li><a href="http://RVegaAlonso.github.io/webDIW/Canvas/monigote/main.html">Stigmata</a></li>
            <li><a href="http://RVegaAlonso.github.io/webDIW/Canvas/Bicho/main.html">Matar bichos</a></li>
            <li><a href="http://RVegaAlonso.github.io/webDIW/Video/video.html">Video</a>
            <li><a href="http://RVegaAlonso.github.io/webDIW/index.html">Home</a></li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
    </div>
</footer>